<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Lista</title>
    <link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}" />
  </head>
<body>
	
    <main>
        <form th:action="@{/seleccionarAsignatura}" th:object="${todasLasAsignaturas}" method="post">
            <label for="asignatura">Seleccione asignatura: </label>
                <select th:id="asignatura" th:field="${asignaturaActual.Asignatura_id}">
                    <option th:each="asignat : ${todasLasAsignaturas}" th:value="${asignat.Asignatura_id}">
                        <p th:text="${asignat.Asignatura_nombre}"></p>
                    </option>
                </select>
            <button type="submit" id="boton">Seleccionar</button>
        </form>
		<h2>Semana </h2><h2 th:text="${semana}"></h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nivel</th>
                    <th>Puntaje</th>
					<th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="est:${todosLosEstudiantes}">
                    <th th:text="${est.Estudiante_nombre}"></th>
                    <td th:text="${est.Estudiante_apellido}"></td>
                    <td th:text="${est.Estudiante_nivel}"></td>
                    <td th:text="${est.Estudiante_puntaje}"></td>
					<td>
						
<a th:href="@{/respondeEnClase/{id}(id=${est.Estudiante_id})}">Responde en clase</a>

<!--
<a th:href="@{/resuelveEnClase/{id}(id=est.Estudiante_id)}">Resuelve en clase</a>
<a th:href="@{/detectaErrores/{id}(id=est.Estudiante_id)}">Detecta errores</a>
<a th:href="@{/corrigeErrores/{id}(id=est.Estudiante_id)}">Corrige errores</a>
						-->
					</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>